*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  overflow-y: hidden;
}
.nav li {
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: #f8f2f2;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}
/* Hover and Active States */
.nav a:hover,
.nav a:focus {
  color: #ff0; /* Change color on hover/focus if needed */
}

.nav a:hover::after,
.nav a:focus::after {
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
  background: rgb(0, 33, 65);
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}


@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}


